.orange-button {
  display: flex;
  justify-content: center;
  background-color: #ff6347;
  color: white;
  border: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.orange-button:hover {
  background-color: white;
  border: 1px solid #ff6347;
  color: #ff6347;
}
